[submodule "vendor/secp256k1"]
	path = vendor/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost.git
[submodule "vendor/libsodium"]
	path = vendor/libsodium
	url = https://github.com/jedisct1/libsodium.git
	branch = stable
[submodule "vendor/snappy"]
	path = vendor/snappy
	url = https://github.com/google/snappy.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/cryptopp"]
	path = vendor/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "vendor/structopt"]
	path = vendor/structopt
	url = https://github.com/p-ranav/structopt.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/libbase58"]
	path = vendor/libbase58
	url = https://github.com/bitcoin/libbase58
[submodule "vendor/abseil-cpp"]
	path = vendor/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "vendor/libwebsockets"]
	path = vendor/libwebsockets
	url = https://github.com/warmcat/libwebsockets
